.App {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tile-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.tile-row div {
  text-align: center;
  vertical-align: middle;
  line-height: 61px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 0.2em;
}

.contained {
  background-color: #c9b458 !important;
  color: white;
}

.contained-inplace {
  background-color: #6aaa64 !important;
  color: white;
}

.not-contained {
  background-color: #787c7e !important;
  color: white;
}

.tile-grid {
  grid-template-rows: repeat(6, 1fr);
  padding: 1em;
  display: grid;
  margin: auto;
  width: 350px;
  height: 420px;
}

.error {
  font-size: 1em;
  padding: 1em;
  color: black;
  background-color: white;
  padding: 1em;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 6%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#keyboard {
  margin: auto;
}

.keyrow {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 0.5em;
  margin-bottom: 0.5em;
}

.keystroke {
  background-color: #d3d6da;
  font-size: 1.5em;
  border-radius: 0.25em;
  border: 0;
  height: 2em;
  flex: 1;
  font-weight: bold;
  padding: 0.2em 0.2em;
  align-content: center;
}

.key-ends {
  flex: 1.5;
}

#modal {
  position: fixed;
  background-color: rgba(10, 10, 10, 0.644);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.modal-body {
  margin: auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 1em;
  align-self: center;
  background-color: white;
}
